[submodule "themes/virtual-labx-cla"]
	path = themes/virtual-labx-cla
	url = https://github.com/eol-virtuallabx/virtual-labx-cla-theme.git
[submodule "themes/virtual-labx"]
	path = themes/virtual-labx
	url = https://github.com/eol-virtuallabx/virtual-labx-theme.git
[submodule "themes/norteamericano-theme"]
	path = themes/norteamericano-theme
	url = https://github.com/eol-virtuallabx/norteamericano-theme.git
[submodule "themes/jcpp-theme"]
	path = themes/jcpp-theme
	url = https://github.com/eol-virtuallabx/jcpp-theme.git
